<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фото строительной техники</title>
</head>
<body>
    <div id="tech">
        <img src=".static/mainpage/image_project/work_foto/technics/komatsu2.jpg" width='300px' height='200px' alt='pc-300'>
        <img src=".static/mainpage/image_project/work_foto/technics/komatsu.jpg" width='300px' height='200px' alt="pc-300-2">
        <img src=".static/mainpage/image_project/work_foto/technics/zoomlion.jpg" width='300px' height='200px' alt="zoomlion">
        <img src=".static/mainpage/image_project/work_foto/technics/zoomlion2.jpg" width='300px' height='200px' alt="zoomlion-2">
    </div>
    <p>
        Спецтехнику различают по функционалу и техническим характеристикам. Современные производители предлагают широкий модельный ряд машин для решения сложных задач в области строительства, <br>
        добычи полезных ископаемых, лесозаготовке, сельском и коммунальном хозяйстве, разных областях промышленности. Востребованы следующие модификации специальной техники:
    </p>
</body>
</html>