<!DOCTYPE html>
<html lang="ru">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/mainpage/css/uslugi.css'>
    
    {% load static %}
     
</head>
<body>
    <a href="/">Главная</a>
    <h2>Перевозка техники</h2>

    <div class="tech">   
    <img src={% static "mainpage/image_project/image_shema/zoomlion.jpg" %}>
    </div>
    <div class="tech">
        <img src={% static "mainpage/image_project/image_shema/komatsu.jpg" %}>
    </div>
    <div class="tech">
        <img src={% static "mainpage/image_project/work_foto/technics/zoomlion2.jpg" %}>
    </div>
    <div class="tech">
        <img src={% static "mainpage/image_project/work_foto/technics/komatsu2.jpg" %}>
    </div>
<p>
    Спецтехнику различают по функционалу и техническим характеристикам. Современные производители предлагают широкий модельный ряд машин для решения сложных задач в области строительства, <br>
    добычи полезных ископаемых, лесозаготовке, сельском и коммунальном хозяйстве, разных областях промышленности. Востребованы следующие модификации специальной техники:
</p>
<h2>Перевозка инжинерного оборудования</h2>
    <div class="inger">
        <img src={% static "mainpage/image_project/work_foto/ingenering/bochka.jpg" %}>
    </div>
    
    <div class="inger">
        <img src={% static "mainpage/image_project/work_foto/ingenering/bochka2.jpg" %} alt="фото">
    </div>
    <div class="inger">
        <img src={% static "mainpage/image_project/work_foto/ingenering/ing.jpg" %} alt="фото2">
    </div>
    <div class="inger">
        <img src={% static "mainpage/image_project/work_foto/ingenering/oborudovanie.jpg" %} alt="фото"> 
    </div>
    <p>
        Перевозка промышленного оборудования – это сложный процесс из-за больших габаритов аппаратов. 
        Ведь у них отсутствуют четкие стандарты, а подготовка перед транспортировкой является 
        достаточно трудоемкой. Схема перевозки негабаритных объектов предполагает использование автомобильного транспорта. Обычно это полуприцепы и тралы.
    </p>
        <h2>Проектная логистика</h2>
        <div class="over">
            <img src={% static "mainpage/image_project/work_foto/project_delivery/2.jpeg" %}  alt="проект">
        </div>
        <div class="over">
            <img src={% static "mainpage/image_project/work_foto/project_delivery/3.jpeg" %}  alt="проект_2">
        </div>
        <div class="over">
            <img src={% static "mainpage/image_project/work_foto/project_delivery/perevozka-parovyh-kotlov-1.jpg" %}  alt="проект_3">
        </div>
        <div class="over">
            <img src={% static "mainpage/image_project/work_foto/project_delivery/teplovoz.jpeg" %}  alt="проект_4">
        </div>
        <p>
            Перевозка промышленного оборудования – это сложный процесс из-за больших габаритов аппаратов. <br>
        Ведь у них отсутствуют четкие стандарты, а подготовка перед транспортировкой является <br>
        достаточно трудоемкой. Схема перевозки негабаритных объектов предполагает использование автомобильного транспорта. Обычно это полуприцепы и тралы
        </p>
</body>
</html>